<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>manage stock</title>
    <style>
        table, th, td {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h3>Quản lý kho</h3> <br>    <hr>    <br>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>size</th>
            <th>số lượng</th>
        </tr>
        </thead>
        <tbody id="tbl"></tbody>
    </table>
<script>
    let  http = new XMLHttpRequest();
    http.open('GET', 'http://localhost:8080/manageStock/api');
    http.send();

    http.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            showTbl(JSON.parse(this.responseText));
        }
    }

    function showTbl(list) {
        let result = '';
        for (let infor of list) {
            result +=  '<tr>'
                + '<td>' + infor.shoeId + '</td>'
                + '<td>' + infor.shoeSize + '</td>'
                + '<td>' + infor.quantity + '</td>'
                + '</tr>';
        }
        document.getElementById('tbl').innerHTML = result;
    }
</script>
</body>
</html>