<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>manage shoe information</title>
    <style>
        table, th, td {
            border: 1px solid #ccc;
            border-collapse: collapse;
            padding: 2px;
        }
    </style>
</head>
<body>
<h3>Quản lý thông tin giày</h3>
<br>
<table>
    <thead>
    <tr>
        <th> </th>
        <th>Mã</th>
        <th>Tên</th>
        <th>Giá</th>
        <th>Hãng</th>
        <th>Ảnh 1</th>
        <th>Ảnh 2</th>
        <th>Ảnh 3</th>
        <th>Ảnh 4</th>
        <th>Ảnh 5</th>
        <th style="width:500px"> Thông tin</th>
    </tr>
    </thead>
    <tbody id="tblSI">
    </tbody>
</table>

<script >

    let http = new XMLHttpRequest();
    http.open('GET', 'http://localhost:8080/manageShoeInformation/api', true);
    http.send();
    http.onreadystatechange = function () {
        if(this.readyState == 4 && this.status == 200){
            renderShoeInformation(JSON.parse(this.responseText));
        }
    }

    function renderShoeInformation (listShoeIn4) {
        let result = '';
        for (let sIn4 of listShoeIn4) {
            result += '<tr>'
                +'<td><input type="button" value="sửa" onclick="changeShoeInformation(' + sIn4.Id +')"></td>';
            result += '<td>' + sIn4.shoeId + '</td>';
            result += '<td>' + sIn4.shoeName + '</td>';
            result += '<td>' + sIn4.price + '</td>';
            result += '<td>' + sIn4.manufactId + '</td>';
            result += '<td>' + '<img src="'+ sIn4.url1 +'" height="100" width="auto">'   +'</td>';
            result += '<td>' + '<img src="'+ sIn4.url2 +'" height="100" width="auto">'   +'</td>';
            result += '<td>' + '<img src="'+ sIn4.url3 +'" height="100" width="auto">'   +'</td>';
            result += '<td>' + '<img src="'+ sIn4.url4 +'" height="100" width="auto">'   +'</td>';
            result += '<td>' + '<img src="'+ sIn4.url5 +'" height="100" width="auto">'   +'</td>';
            result += '<td>' + sIn4.information + '</td>';
            result += '</tr>' ;
        }
        document.getElementById('tblSI').innerHTML = result;
    }

    function changeShoeInformation(shoeId) {

    }
</script>
</body>
</html>