<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>manage bill</title>
    <style>
        table, th, td {
            border: 1px solid #ccc;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
</head>
<body>
    <h3>Quản lý hóa đơn</h3>
    <br>
    <input type="button" value="tất cả" onclick="both()">
    <input type="button" value="hóa đơn bán" onclick="showSale()">
    <input type="button" value="hóa đơn mua" onclick="showPurchase()">
    <br>
    <hr>
    <br>
    <table id="sale">
        <thead>
        <tr>
            <th>id</th>
            <th>id giày</th>
            <th>size</th>
            <th>số lượng</th>
            <th>ngày tạo</th>
            <th>số điện thoại</th>
            <th>tên khách hàng</th>
            <th>email</th>
            <th>địa chỉ</th>
        </tr>
        </thead>
        <tbody id="saleInfor">
        </tbody>
    </table>
    <br>    <br>
    <table id="purchase">
        <thead>
        <tr>
            <th>id</th>
            <th>id giày</th>
            <th>size</th>
            <th>số lượng</th>
            <th>ngày tạo</th>
        </tr>
        </thead>
        <tbody id="purInfor"></tbody>
    </table>
    <script>
        let http = new XMLHttpRequest();
        http.open('GET', 'http://localhost:8080/manageSaleBill/api')
        http.send();
        http.onreadystatechange = function () {
            if(this.readyState == 4 && this.status == 200){
                loadSale(JSON.parse(this.responseText));
            }
        }
        http = new XMLHttpRequest();
        http.open('GET', 'http://localhost:8080/managePurchaseBill/api')
        http.send();
        http.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                loadPurchase(JSON.parse(this.responseText));
            }
        }

        function loadSale(listSale) {
            let result = '';
            for (let sale of listSale) {
                result += '<tr>'
                    + '<td>'+ sale.billId +'</td>'
                    + '<td>'+ sale.shoeId + '</td>'
                    + '<td>'+ sale.shoeSize + '</td>'
                    + '<td>'+ sale.quantity + '</td>'
                    + '<td>'+ sale.billDate + '</td>'
                    + '<td>'+ sale.phoneNumber + '</td>'
                    + '<td>'+ sale.customerName + '</td>'
                    + '<td>'+ sale.email + '</td>'
                    + '<td>'+ sale.address + '</td>'
                    +'</tr>';
            }
            document.getElementById('saleInfor').innerHTML = result  ;
        }

        function loadPurchase(listPurchase) {
            let result = '';
            for (let pur of listPurchase) {
                result += '<tr>'
                    + '<td>'+ pur.billId +'</td>'
                    + '<td>'+ pur.shoeId +'</td>'
                    + '<td>'+ pur.shoeSize +'</td>'
                    + '<td>'+ pur.quantity +'</td>'
                    + '<td>'+ pur.billDate +'</td>'
                    +'</tr>';
            }
            document.getElementById('purInfor').innerHTML = result ;
        }
        document.getElementById('purchase').style.display = 'none';


        function showSale (){
            document.getElementById('sale').style.display = 'block';
            document.getElementById('purchase').style.display = 'none';
             }

        function  showPurchase(){
            document.getElementById('sale').style.display = 'none';
            document.getElementById('purchase').style.display = 'block';
            }

        function both() {
            document.getElementById('sale').style.display = 'block';
            document.getElementById('purchase').style.display = 'block';
        }
    </script>
</body>
</html>